.writing-canvas{
    background: #efefef;
    display: block;
    border-radius: 6px;
    box-shadow: inset 0 0 6px 0px #00000030;
}

.clear-button{
    background: black;
    border: 0;
    color: white;
    padding: 16px 42px;
    font-size: 1.3em;
    margin: 21px;
    border-radius: 20em;
    transition: 0.15s ease-in;
    cursor:pointer;
    outline: 0 none;
}

.clear-button:hover{
    box-shadow: 0 3px 6px 2px #0000004f;

}

.save-button{
    background: #2295de;
    border: 0;
    color: white;
    padding: 16px 42px;
    font-size: 1.3em;
    margin: 21px;
    border-radius: 20em;
    transition: 0.15sss ease-in;
    cursor:pointer;
    outline: 0 none;
}

.save-button:hover{
    box-shadow: 0 3px 6px 2px #0000004f;

}